.body {
  @apply bg-blue-50;
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  align-items: stretch;

  min-height: 100vh;

  .header {
    height: 100vh;
    width: 30rem;
    position: fixed;
    top: 0;
    left: 0;

    background-color: white;
  }
  .main {
    flex-grow: 1;
    padding-left: calc(30rem);
  }
}
