.nav > ul {
  display: flex;
}
.nav > ul button,
.nav > ul a {
  padding: 8px 12px;
  min-width: 100px;
  text-align: center;
}

.nav > ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s;
}
.nav > ul a:hover {
  color: var(--primary);
}

.nav > ul li {
  position: relative;
}
.depth2 {
  position: absolute;
  top: 40px;
  left: 50%;
  background-color: var(--background);
  border: 1px solid var(--grayLv2);
  border-radius: 10px;
  transform: translateX(-50%);
  padding: 8px 16px;

  animation: fadeIn 0.2s both;
}
.depth2 a {
  height: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.arrowIcon {
  transition: all 0.3s;
  margin-right: -8px;
}

.arrowIcon.active {
  rotate: -180deg;
}
