$light-theme: (
  primary: #2e6ff2,

  rgb-primary: '46, 111, 242',
  background: #fff,
  surface: #121314,
  grayLv1: #f3f5fa,
  grayLv2: #d9dbe0,
  grayLv3: #8d9299,
  grayLv4: #47494d,

  primaryA11y: #2861d2,
  grayLv3A11y: #6c7074,
  error: #ff3440,
  warn: #ffc533,
  activation: #dee8ff,

  code-pink: #c93864,
  code-purple: #964dd1,
  code-blue: #2e5dd6,
  code-green: #328026,
  code-orange: #e37c00,
);
$dark-theme: (
  primary: #3075ff,
  background: #1f2123,
  surface: #ffffff,
  grayLv1: #121314,
  grayLv2: #595f66,
  grayLv3: #d9dbe0,
  grayLv4: #f3f5fa,
  error: #fc7377,
  warn: #ffe187,
  activation: #2b3444,

  code-pink: #ed4779,
  code-purple: #c893fd,
  code-blue: #618dff,
  code-green: #50c140,
  code-orange: #ffa52a,
);

:root {
  @each $k, $v in $light-theme {
    #{"--" + $k}: #{$v};
  }
}

:root {
  .theme-light {
    @each $k, $v in $light-theme {
      #{"--" + $k}: #{$v};
    }
  }
}

:root {
  .theme-dark {
    @each $k, $v in $dark-theme {
      #{"--" + $k}: #{$v};
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $k, $v in $dark-theme {
      #{"--" + $k}: #{$v};
    }
  }
}
