body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input {
  font: inherit;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: 0;
  color: inherit;
  background: none;
}

img {
  vertical-align: top;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 28rem;
  overflow-x: scroll;
  font-size: clamp(1.4rem, 1.3445378151vw, 1.6rem);
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.ddd {
  color: var(--primary);
}

:root {
  --primary: #2e6ff2;
  --rgb-primary: 46, 111, 242;
  --background: #fff;
  --surface: #121314;
  --grayLv1: #f3f5fa;
  --grayLv2: #d9dbe0;
  --grayLv3: #8d9299;
  --grayLv4: #47494d;
  --primaryA11y: #2861d2;
  --grayLv3A11y: #6c7074;
  --error: #ff3440;
  --warn: #ffc533;
  --activation: #dee8ff;
  --code-pink: #c93864;
  --code-purple: #964dd1;
  --code-blue: #2e5dd6;
  --code-green: #328026;
  --code-orange: #e37c00;
}

:root .theme-light {
  --primary: #2e6ff2;
  --rgb-primary: 46, 111, 242;
  --background: #fff;
  --surface: #121314;
  --grayLv1: #f3f5fa;
  --grayLv2: #d9dbe0;
  --grayLv3: #8d9299;
  --grayLv4: #47494d;
  --primaryA11y: #2861d2;
  --grayLv3A11y: #6c7074;
  --error: #ff3440;
  --warn: #ffc533;
  --activation: #dee8ff;
  --code-pink: #c93864;
  --code-purple: #964dd1;
  --code-blue: #2e5dd6;
  --code-green: #328026;
  --code-orange: #e37c00;
}

:root .theme-dark {
  --primary: #3075ff;
  --background: #1f2123;
  --surface: #ffffff;
  --grayLv1: #121314;
  --grayLv2: #595f66;
  --grayLv3: #d9dbe0;
  --grayLv4: #f3f5fa;
  --error: #fc7377;
  --warn: #ffe187;
  --activation: #2b3444;
  --code-pink: #ed4779;
  --code-purple: #c893fd;
  --code-blue: #618dff;
  --code-green: #50c140;
  --code-orange: #ffa52a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #3075ff;
    --background: #1f2123;
    --surface: #ffffff;
    --grayLv1: #121314;
    --grayLv2: #595f66;
    --grayLv3: #d9dbe0;
    --grayLv4: #f3f5fa;
    --error: #fc7377;
    --warn: #ffe187;
    --activation: #2b3444;
    --code-pink: #ed4779;
    --code-purple: #c893fd;
    --code-blue: #618dff;
    --code-green: #50c140;
    --code-orange: #ffa52a;
  }
}